<div class="contener">
    <p>j-page works!</p>


    <h1 style="text-align: center">Wellcom Jiraff Component </h1>


    <div style="display: flex;" [style.background]="bakColor">
        <ul class="force=jitme">
            <h1>this color new :<br> {{bakColor}}</h1>

            <j-itme *ngFor="let j of jiraffArr" [jiraff]="j" class=" j-item-as-list" (clickcolor)="bakColor = $event"
                (detelItnefm)="detelfm = $event" (isboss)=boss($event) (itmedelete)="deletej ($event)">
            </j-itme>
        </ul>
        <!-- <ul>
        <li *ngFor="let j of jiraffArr">{{j.name}}</li>
    </ul> -->
<div>
        <ul>
            <add-itme (newItemEvent)="add($event)"></add-itme>
        </ul>

        <ul>
            <j-detels [detel_j]="detelfm"></j-detels>
        </ul>
</div>

    </div>
</div>