<p>j-page works!</p>


<h1>wellcom jiraff </h1>
<ul>
    <li *ngFor="let j of jiraffArr">{{j.name}}</li>
</ul>

<div style="display: flex;" [style.background]="bakColor">
    <ul class="force=jitme">
        <h1>this color new :<br> {{bakColor}}</h1>
        
        <j-itme *ngFor="let j of jiraffArr"
        [jiraff]="j" 
        class=" j-item-as-list"
        (clickcolor)="bakColor = $event"
        (isboss)=boss($event)
        (itmedelete)="deletej ($event)">
        </j-itme>
    </ul>

   
</div>